/* INFO: Importing Sofia Sans font */
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");

:root {
  color-scheme: dark;

  --shadow: 3px 3px 3px black;
  --background: #000000dd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh; /* Ensures the body is at least as tall as the screen */
  width: 100%;
  font-family:
    "Loos Normal", "Sofia Sans", sans-serif; /* Loos Normal for those who has it */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  position: relative;
  min-width: 18ch;
  background: var(--background);
  padding: 0.5rem;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  justify-content: center;
  text-shadow: var(--shadow);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 800;
  letter-spacing: 7%;

  span {
    font-size: 0.75rem;
    text-transform: uppercase;
  }
}

.main-wrapper::before {
  content: "";
  position: absolute;
  background: white;
  width: 6px;
  height: 6px;
  top: -4px;
  transform: rotate(45deg);
}

.main-wrapper::after {
  content: "";
  position: absolute;
  background: white;
  width: 6px;
  height: 6px;
  bottom: -4px;
  transform: rotate(45deg);
}
