@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");

:root {
  color-scheme: dark;

  --win: #22ffc5;
  --loss: #ff4655;

  --background: #131f29;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url(Sample.png); */
  min-height: 100vh;
  width: 100%;
  font-family: "Sofia Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: var(--shadow);
}

.main-wrapper {
  --status-color: white;

  position: relative;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background);
  overflow: hidden;
  text-transform: uppercase;
}

.rr-change {
  z-index: 10;
  font-family: "Sofia Sans", sans-serif;
  font-size: 1rem;
  color: var(--status-color);
  font-weight: 700;
  box-sizing: border-box;
  padding-right: 1rem;
}

.positive {
  --status-color: var(--win);
}

.negative {
  --status-color: var(--loss);
}

.record {
  flex: 1;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  gap: 5px;

  padding-right: 1rem;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 3rem;
  font-weight: 700;

  border-right: 4px solid var(--status-color);

  background: linear-gradient(
    to left,
    rgb(from var(--status-color) r g b / 0.3),
    transparent
  );
}

.account {
  padding-left: 1rem;
  flex: 1; /* take available space */
  min-width: 0; /* allow shrinking */
  max-width: fit-content;
}

.title {
  font-size: 12px;
  opacity: 0.8;
  height: 1lh;
  overflow: hidden;
}

.username {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  height: 1lh;
  min-width: 0; /* IMPORTANT for flexbox */

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  p {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.show-animate {
  animation: showUp 10s ease infinite;
}

.riot {
  span {
    font-family: "Sofia Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.8;
  }
}

@keyframes showUp {
  5%,
  45% {
    transform: translateY(-1lh);
  }
  50% {
    transform: translateY(0);
  }
}
